
POST CHANGE
OVERVIEW
----------------------------------------
Success/Failure: A
a) Change was successful
b) Change failed, and backed-out successfully
c) Change failed, and not (or partially) successful (explain below)
d) Change was partially successful (explain below)
e) Change was cancelled (explain below)
   Explanation:

Actual date/time of change, if different from originally planned:
Actual impact, if different from originally planned:

Actual downtime, if different from originally planned:
Unexpected results/events:
POST-IMPLEMENTATION TESTING
----------------------------------------
Results of post-implementation testing: A
a) Successful
b) Partially successful (explain below):
c) Failed (explain below):
d) Not done (explain below):
   Explanation:

BACK-OUT PROCESS
----------------------------------------
Results of back out process: A
a) Not needed
b) Successful
c) Partially successful (explain below)
d) Failed (explain below)
e) Not done/needed (explain below)
   Explanation:
